<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta content="True" name="HandheldFriendly" />
    <title>用戶協議</title>
    {literal}
    <style type="text/css">
        h1,h2{font-weight: 700;font-size: 1.2em}
        p{line-height: 150%;font-size: 1em;}
    </style>
    {/literal}
</head>
<body>
<h2>重要法律聲明</h2>
<p>雲頂網絡有限公司為遵守相關法律規定，凡本「雲頂網絡有限公司應用(簡稱本應用)」其在使用上可能使消費者暨玩家重要法律權益發生變動的功能，均不開放給尚未簽署以下「雲頂網絡有限公司用戶協議」之人使用。(簽署本合約者，以下敬稱為簽約人。)
<p>本司合約中最重要的內容是關於：(1)簽約人授權本司依法蒐集、處理及利用簽約人個人資料(2)簽約人於本司應遵守的法律規定與用戶規則說明。</p>
<p>簽署本司合約之方式，無須向本司發出通知，只要您「在本司應用任何一個要求您輸入個人資料的步驟中，主動輸入、建立、送出/提交個人資料」，您的「輸入行為」，便是簽訂本司協議的「承諾表示」，本司協議將在您送出/提交任何個人資料的同時立即生效。</p>
<p>在您提交個人資料以簽署本司協議前，請您務必詳細閱讀本司協議全部內容。如果您不同意簽署本司協議，請不要建立並送出/提交您的任何個人資料。附帶說明：依照法律規定，個人資料的範圍，除了您的姓名、通訊地址之外，其他包括您的個人興趣、嗜好、休閒運動，以及您在本司應用內，由您所自行設定的專用代號、暱稱、帳號、密碼等等，也都屬於您的個人資料。</p>
<h2>雲頂網絡有限公司用戶協議</h2>
<p>本協議由「於雲頂網絡有限公司會員中心(簡稱本司)中，依照應用內之要求及欄位，建立其本人個人資料之人(以下敬稱甲方)」與「雲頂網絡有限公司(簡稱乙方)」雙方，以「由甲方建立並送出/提交個人資料」之方式，於送出/提交之時簽訂生效；「在本應用中建立並送出/提交任何個人資料」便是簽訂本合約的方式。甲乙雙方謹同意以誠實信用原則共同遵守以下約定：</p>
<h2>一、 甲方個人資料之蒐集、處理及利用</h2>
<p>1.	定義：本合約就「個人資料、個人資料檔案、電腦處理、處理、蒐集、利用、特定目的」等用詞之定義，首同中華民國96年6月份現行之「電腦處理個人資料保護法」(下稱母法)之內容，超出母法範圍者，則同母法修正草案：「個人資料保護法」所列定義。現行母法如於日後修正者，則上述用詞定義屆時應依修正後法律定之，且本合約所稱之母法將自動以修正後法律為準，再修正時亦同。</p>
<p>2.	甲方同意乙方得依法為以下目的(個人資料檔案蒐集、保有、利用之特定目的)而蒐集、處理、利用甲方個人資料(註：以下各項目前之號碼為政府公告之類別編號)：006/公共關係；021/行銷(不包括直銷至個人)；022/行銷(包括直銷至個人)；037/客戶管理；060/統計調查與分析；065/資訊與資料庫管理；066/會員（籍）管理（含會員指派之代表)； 097/其他合於營業登記項目或章程所定業務之需要。</p>
<p>3.	甲方同意乙方得依法蒐集、處理、利用甲方以下種類之個人資料：C001/辨識個人者；C002/辨識財務者；C003 政府資料中之辨識者；C011/個人描述；C013/習慣；C014/個性；C035/休閒活動及興趣；C038/職業；；C102/約定或契約。上述各類個人詳細內容，均依主管機關公佈之內容辦理，詳參附件二：「電腦處理個人資料保護法之個人資料類別」。</p>
<p>4.	甲方個人資料利用之期間、地區、對象、方式如下：期間/自甲方個人資料建立時起開始利用，最長不超過甲方依法向乙方請求刪除其個人資料，或本公司營運期間，以較短者為主。地區/不超出甲乙雙方所在國家地區範圍、甲方指定乙方提供服務之範圍，以及乙方網站所舉辦之活動參加地區範圍，以各範圍聯合後之最大範圍為主。對象/乙方內部人員，以及乙方為完成本條第一項之「個人資料檔案保有之特定目的」，而必須獲得他人協助(包含與該他人透過契約之簽訂建立必要合作關係)之該他人(包含該他人之內部人員)。</p>
<p>5.	乙方對於對於甲方個人資料之利用，應於蒐集、保有、利用之特定目的內必要範圍內為之，但有下列情形之一者，得為特定目的以外之利用：(1)法律明文規定(2)為免除甲方之生命、身體、自由或財產上之危險。(3)為防止他人權益之重大危害(4)公務機關或學術研究機構基於公共利益為統計或學術研究而有必要，且資料經過處理後或依其揭露方式無從事別特定當事人。(5)經甲方書面同意。</p>
<p>6.	甲乙雙方特別約定：乙方得自行或使他人(合稱行銷人)利用甲方個人資料行銷，但甲方如於乙方首次行銷時，以電子郵件或行銷人另行免費提供之方式，向行銷人表示拒絕接受行銷時，行銷人應即停止利用甲方個人資料行銷。</p>
<p>7.	乙方將依附件一之「個人資料檔案安全維護計畫」，妥善保管甲方個人資料，以收防止甲方個人資料被竊取、竄改、毀損、滅失或洩漏之效。</p>
<p>8.	乙方應依甲方之請求，就其蒐集之甲方個人資料，答覆查詢、提供閱覽或製給複本。但有下列情形之一者，不在此限：(1)有妨害公務執行之虞者。(2)有妨害第三人之重大利益之虞者。(3)妨害國家安全、外交及軍事機密、整體經濟利益或其他國家重大利益。(4)妨害公務機關執行法定職務。(5)妨害乙方或第三人之重大利益。 乙方受理甲方本項前述請求，應於十五日內處理之；必要時得延長十五日，並應將其原因以書面通知甲方。</p>
<p>9.	乙方對於甲方個人資料之蒐集、處理、保管或利用，具有下列權利或義務：(1)乙方為維護甲方個人資料之正確，應主動或依甲方之請求更正或補充之。(2)甲方個人資料正確性有爭議者，乙方應主動或依甲方請求停止處理或利用。但因執行職務或業務所必須並註明其爭議或經甲方書面同意者，不在此限。(3)個人資料進行蒐集或處理(含電腦處理，下同)之特定目的消失或期限屆滿時，乙方應主動或依甲方請求，刪除、停止處理或利用甲方個人資料。但經依母法規定變更目的或因乙方執行業務所必須或經甲方書面同意者，不在此限。 乙方受理甲方本項前述請求，應於三十日內處理之；未能於期間內處理者，應將其原因以書面通知甲方。</p>
<p>10.	甲方依前條規定請求乙方將其個人資料作永久性之刪除、停止處理或利用者，如經乙方受理、審查認為應依其請求執行者，乙方有權於配合辦理之同時，立即終止甲方依本合約所享有之權利，與在本司中所有已取得之資格、身分與權利，且無須退還任何已收取之款項(例如已儲值之點數)，或賠償甲方任何因此所受之損害。</p>
<p>11.	甲方如需依前述各條項規定就其本人之個人資料向乙方為下列各項請求者：(1)查詢及/或請求閱覽。(2)請求製給複製本。(3)請求補充或更正。(4)請求停止蒐集、處理(含電腦處理)或利用。(5)請求刪除。其請求進行之方式，應由甲方以正式書面來函，詳細寫明所欲行使之權利種類、內容【例如：第(2)之複本數目(複本形式同乙方保管形式)、第(3)之原漏列或錯誤內容，以及應補充或更正之內容、第(4)之停止項目、範圍、內容、起迄時間及方式。第(5)之執行刪除日期】，以及收件人本名、地址、電話等通訊連絡方式，檢附足資回郵信封(親取者免付)、身分證影本，以存證信函寄至乙方登記地址要求辦理，未具備上述要件者，為尚未完成請求之程序，雙方同意應暫不起算乙方處理期間，乙方得通知甲方補件，並於完成補件後，始完成請求程序，並始開始起算辦理期間，以避免因資料不備而不慎或不當損害任何人權益。</p>
<p>12.	查詢或請求閱覽個人資料者，應於取件前或親自取件時，就乙方所提供之每頁資料支付行政處理費新台幣貳佰圓整。</p>
<p>13.	乙方如違反母法規定，致甲方個人資料被竊取、洩漏、竄改、遭其他侵害者，應查明後，於電話或信函或電子郵件或網站公告等方法中，擇其適當方式通知甲方。</p>
<p>14.	甲方保證其於乙方網站中所建立個人資料，全部均為其本人之個人資料，且所有資料均真實、正確無誤，日後如有變更，甲方並保證立即通知乙方進行相應修改。甲方如有違背本條保證事項，所有因此所致之民刑事責任，甲方同意全部自行承擔，包括但不限於賠償乙方所受之一切損害。</p>
<h2>二、會員規範－甲方如依乙方應用管理規章參加成為乙方會員，保證遵守以下會員規範：</h2>
<p>1.	甲方保證其於註冊時所提供之個人資料(包含正確之電子郵件信箱、姓名、身份證字號、通訊地址等)，真實完整，絕無假造、變造、盜用他人資料情事。登錄之資料事後有變更時，保證隨時於線上更新之。若有填寫不實，或原登錄之資料已不符合真實而未更新，或有任何虛偽不實之情事，甲方同意乙方(本司)得隨時終止、取消甲方會員資格，並保留民刑事追訴權。</p>
<p>2.	甲方保證對於自己的會員帳號與密碼自負保密責任，並對於經由會員帳號和密碼所進行的任何行為活動及所儲存的所有資料負責。</p>
<p>3.	為維護甲方自身會員權益，甲方保證絕不將帳號與密碼洩露或提供予第三人知悉，或出借或轉讓他人使用，否則雙方一切損害由甲方負責。</p>
<p>4.	甲方保證絕不於本司(各遊戲)內進行任何未經事前授權之任何形式商業行為。</p>
<p>5.	甲方保證，絕不於本司(各遊戲)中，發表或傳送任何毀謗、不實、威脅、不雅、猥褻、不法、攻擊性或侵害本司或他人(含其本身及其著作)之文字、圖片或任何形式檔案。</p>
<p>6.	甲方對其自行公布於本司，或透過本司傳送的一切資訊內容負擔全部責任。並承諾將遵守相關法規及一切關於網際網路之規定與慣例，甲方若係於台灣以外地區使用本司內容，保證將遵守各網站當地之法令及網路慣例。</p>
<p>7.	甲方行為是否符合會員規範，本司有最終決定權。若本司認為甲方行為已違反本會員規範或任何法令，本司得不待通知，隨時停止帳號使用權或清除帳號，甲方不得因此要求補償或賠償。</p>
<p>8.	甲方如違反相關法令或違背任一會員條款，致乙方或其關係企業、受僱人、受託人、代理人及其他相關履行輔助人受有損害或支出費用（包括且不限於因進行民事、刑事及行政程序所支出之律師費用）時，甲方應負擔損害賠償責任或填補其費用。</p>
<p>9.	甲方同意：乙方對於甲方之任何通知，經使用下列方式之一為之即為有效送達：</p>
<p>(1)乙方得以電子郵件（E-mail）為通知。電子郵件於寄出乙方系統控制範圍外時，即發生通知到達之效力，不論該電子郵件是否經甲方讀取或遭退回皆同。</p>
<p>(2)乙方得於本司網頁上公告以代通知。公告內容經連續公布滿七日後，即生通知送達之效力，不論會員是否讀取該通知內容。</p>
<p>10.	甲方同意：乙方如需將本司功能或甲方會員權益，作任何新增、修改、變更或取消，經依前條規定方式向甲方為通知後，即生增刪變更之效力，無須以其方式另向甲方為個別為通知。</p>
<h2>三、免責事由</h2>
<p>本約雙方同意：以下任一情形發生時，乙方得隨時中斷本司之服務，無須事前通知，事後亦無須向甲方為賠償或補償。</p>
<p>1.	本司相關軟硬體設備與電子通信設備，因本公司專業人員之建議，進行必要之搬遷、更換、升級、保養及施工。</p>
<p>2.	本司軟硬體設備或電子通信設備發生突發性之故障。</p>
<p>3.	本司因天災或其他不可抗力之因素，無法持續提供服務。</p>
<p>4.	因發生緊急事故或其他任何無法預行通知之事由，為避免或防止乙方或其他人財產、生命安全受致損害，須中斷本司之服務。</p>
<p>5.	其他不可歸責於乙方之事由所致之服務停止或中斷。</p>
<p>6.	因非可歸責於乙方之事由，致伺服器遭到任何形式之攻擊或破壞者，會員因此所受之損失，甲方同意放棄損害賠償請求權。</p>
<h2>四、協議效力及合意管轄</h2>
<p>1.	本合約於乙方於本司公布本合約後，生要約拘束力，於甲方簽署本合約之後，本合約立即對雙方生效。</p>
<p>2.	甲方簽署本合約之方式，為：「在本司任一要求輸入個人資料之網頁內，主動輸入、建立、送出/提交『個人資料』」；甲方該一「個人資料輸入、送出/提交行為」，即為簽訂本合約之「承諾表示行為」，本合約一經甲方依上述方式承諾，便立即生效。</p>
<p>3.	甲方依前條所輸入之個人資料，保證真實無誤，如有虛偽假冒，無損甲方簽訂本合約之效力，本約雙方同意乙方得按合約相關規定追究甲方民刑事責任。</p>
<p>4.	前揭29條個人資料之範圍與內容，依本合約第三條規定參照附件二內容為準，個人資料一經於本司建立，本合約效力立即發生，甲方即應依約履行本合約。</p>
<p>5.	本合約書之解釋，依乙方所在地法律為準據法。雙方因本合約所生之爭議，以台灣台北地方法院為第一審管轄法院。</p>
<p>6.	本合約附件，與本約本文共同構成合約內容之全部，附件名稱及內容如下：</p>
<p>(1)附件名稱：</p>
<p>附件一：「個人資料檔案安全維護計畫」</p>
<p>附件二：「電腦處理個人資料保護法之個人資料類別」</p>
<p>(2)附件內容：</p>
<p>附件一：個人資料檔案安全維護計畫</p>
<p>壹 、為確保松崗科技及群音科技網站所保有(甲方)個人資料檔案之安全，將依法指定專人依下述個人資料檔案安全維護計畫辦理安全維護事項。</p>
<p>貳 、個人資料檔案之安全維護計畫：</p>
<h2>一 、資料安全方面</h2>
<p>(一) 個人資料檔案建置在資料庫上者，將釐定使用範圍及使用權限，並設置「使用者代碼」、「識別密碼」。識別密碼將請本人(即個人資料之本人，下同)保密，不得與他人共用。</p>
<p>(二) 個人資料檔案建置在個人電腦上者，將把資料儲存於軟式磁碟片上，並定期拷貝。如需建置在硬式磁機上，該部個人電腦將專用並上鎖。</p>
<p>(三) 將於公司內部規定並公告：非經允准不得刺探或使用個人資料檔案。</p>
<p>(四) 公司將規定：保管人於個人資料檔案使用完畢應即退出，不得留在電腦終端機上。</p>
<p>(五) 本計畫執行後，如認為有應新增之個人資料保護措施，將立即於公司內公布實施，並嚴格執行。</p>
<h2>二 、資料稽核方面</h2>
<p>(一) 以電腦處理個人資料時，將責成承辦人員應核對個人資料之輸入、輸出、編輯或更正是否與原件相符。</p>
<p>(二) 個人資料提供利用時，將責成承辦人員應核對與檔案資料是否相符，如有疑義，應調原檔案查核。</p>
<p>(三) 其他於個人資料正確性有關之事宜，將定期向資料保管人與承辦人員施以法律相關規定之訓練，俾確保依法執行無誤。</p>
<h2>三 、設備管理方面</h2>
<p>(一) 建置個人資料之有關電腦設備，將定期保養。</p>
<p>(二) 建置個人資料之個人電腦，非有必要，將不作為公眾查詢用。</p>
<p>(三) 更新設備時，將注意資料之安全。</p>
<p>(四) 其他依專業資訊人員之判斷，如有應予採行之進一步設備維護措施，將立即依其建議施行之。</p>
<h2>四 、其他安全維護事項</h2>
<p>(一) 以電腦處理個人資料檔案之人員，其職務有異動時，其所保管之磁片及有關資料將列冊移交。接辦人員並規定應另行申請密碼，以利管理。</p>
<p>(二) 遵守一般電腦安全維護之有關規定。</p>
<p>附件二：電腦處理個人資料保護法之個人資料類別</p>
<p>電腦處理個人資料保護法之個人資料類別</p>
<p>法務部                中華民國八十五年八月七日法八五令字第一九七四五號</p>
<p>財政部                台財規字第八五二二七八七二二號</p>
<p>經濟部                經（八五）商字第八五○二一六一五號</p>
<p>教育部                台（八五）人（三）字第八五五一四九一○號令發布</p>
<p>交通部                交資八十五字第○四八九八號</p>
<p>行政院新聞局         （八五）聞法字第一○六九四號</p>
<p>行政院衛生署          衛署資訊字第八五○三八九○一號</p>
<p>代　　號　識別類：</p>
<p>Ｃ○○一　辨識個人者。</p>
<p>例如：姓名、職稱、住址、工作地址、以前地址、住家電話號碼、相片、指紋、電子郵遞地址及其他任何可辨識資料本人者等。</p>
<p>Ｃ○○二　辨識財務者。</p>
<p>例如：銀行帳戶之號碼與姓名、信用卡或簽帳卡之號碼、個人之其他號碼或帳戶等。</p>
<p>代　　號　特徵類：</p>
<p>Ｃ○一一　個人描述。</p>
<p>例如：年齡、性別、出生年月日、出生地、國籍等。</p>
<p>Ｃ○一二　身體描述。</p>
<p>例如：身高、體重、血型等。</p>
<p>Ｃ○一三　習慣。</p>
<p>例如：抽煙、喝酒等。</p>
<p>Ｃ○一四　個性。</p>
<p>例如：個性等之評述意見。</p>
<p>代　　號　家庭情形：</p>
<p>Ｃ○二一　家庭情形。</p>
<p>例如：結婚有無、配偶或同居人之姓名、前配偶或同居人之姓名、結婚之日期、子女之人數等。</p>
<p>Ｃ○二四　其他社會關係。</p>
<p>例如：朋友、同事及其他除家庭以外之關係等。</p>
<p>代　　號　社會情況：</p>
<p>Ｃ○三一　住家及設施。</p>
<p>例如：住所地址、設備之種類、所有或承租、住用之期間、租金或稅率及其他花費在房屋上之支出、房屋之種類、價值及所有人之姓名等。</p>
<p>Ｃ○三四　旅行及其他遷徙細節。</p>
<p>例如：過去之遷徙、旅行細節、外國護照及工作證照及工作證等相關細節等。</p>
<p>Ｃ○三五　休閒活動及興趣。</p>
<p>例如：嗜好、運動及其他興趣等。</p>
<p>Ｃ○三六　生活格調。</p>
<p>例如：使用消費品之種類及服務之細節、個人或家庭之消費模式等。</p>
<p>Ｃ○三七　慈善機構或其他團體之會員資格。</p>
<p>例如：俱樂部或其他志願團體或持有參與者紀錄之單位等。</p>
<p>Ｃ○三八　職業。</p>
<p>例如：學校校長、民意代表或其他各種職業等。</p>
<p>Ｃ○五二　資格或技術。</p>
<p>例如：學歷資格、專業技術、特別執照（如飛機駕駛執照等)等。</p>
<p>Ｃ○五六　著作。</p>
<p>例如：書籍、文章、報告、視聽出版品及其他著作等。</p>
<p>Ｃ○七三　安全細節。</p>
<p>例如：密碼、安全號碼與授權等級等。</p>
<p>代　　號　財務細節：</p>
<p>Ｃ○八三　信用評等。</p>
<p>例如：信用等級、財務狀況與等級、收入狀況與等級等。</p>
<p>Ｃ○九三　財務交易。</p>
<p>例如：收付金額、信用額度、保證人、支付方式、往來紀錄、保證金或其他擔保等。</p>
<p>代　　號　商業資訊：</p>
<p>Ｃ一○一　資料主體之商業活動。</p>
<p>例如：商業種類、提供或使用之財貨或服務、商業契約等。</p>
<p>Ｃ一○二　約定或契約。</p>
<p>例如：關於交易、商業、法律或其他契約、代理等。</p>
<h2>個資蒐集告知函</h2>
<p>歡迎申請成為及加入本遊戲會員，本司的服務是由雲頂網絡有限公司（以下稱本公司）所建置提供。當您進行下列服務時，即表示您願意以電子文件之方式行使法律所賦予同意之權利，並具有書面同意之效果。</p>
<p>本遊戲為本公司運營管理，為了確保消費者之個人資料、隱私及消費者權益之保護，本公司所使用消費者之個人資料，謹依個人資料保護法第8 條規定告知以下事項：</p>
<h2>一 、蒐集目的及方式</h2>
<p>本公司之蒐集目的在於進行本遊戲管理、會員管理及行銷與內部的統計調查與分析(法定特定目的項目編號為021行銷, 022行銷, 037客戶管理, 066會員（籍）管理（含會員指派之代表), 097其他合於營業登記項目或章程所定業務之需要)。蒐集方式將透過加入會員或填寫本公司網站資料方式進行個人資料之蒐集。</p>
<h2>二 、蒐集之個人資料類別</h2>
<p>本公司於網站內蒐集的個人資料包括</p>
<p>C001 辨識個人者： 如消費者之姓名、照片、地址、電話、電子郵件等資訊。</p>
<p>C002 辨識財務者： 如信用卡或轉帳帳戶資訊。</p>
<p>C003 政府資料中之辨識者： 如身分證字號或護照號碼(外國人)。</p>
<p>C011 個人描述： 如性別、國籍、出生年月日。</p>
<p>C013 習慣</p>
<p>C014 個性</p>
<p>C035 休閒活動及興趣</p>
<p>C038 職業</p>
<p>C102 約定或契約</p>
<h2>三、利用期間、地區、對象及方式</h2>
<p>期間：本公司營運期間。</p>
<p>地區：消費者之個人資料將用於本公司營運之地區。</p>
<p>利用對象及方式：消費者之個人資料蒐集除用於本公司之會員管理、客戶管理之檢索查詢等功能外，將有以下利用：</p>
<p>1.	虛擬寶物及贈品寄送：於交寄相關商品時，將消費者個人資料利用於交付給相關物流、郵寄廠商用於物品寄送之目的。</p>
<p>2.	金融交易及授權：消費者所提供之財務相關資訊，將於金融交易過程(如信用卡授權、轉帳)時直接提交給金融機構以完成金融交易。</p>
<p>3.	行銷：本公司將利用消費者之地址及郵件、電話號碼進行本公司或合作廠商商品之宣傳行銷。</p>
<p>4.	電子報EDM寄發：本公司遊戲及相關活動之電子報寄發，將提供消費者email予相關業務部門寄發。</p>
<h2>四、消費者個人資料之權利</h2>
<p>消費者交付本公司之個人資料者，依個資法得行使以下權利：</p>
<p>1.查詢或請求閱覽。</p>
<p>2.請求製給複製本。</p>
<p>3.請求補充或更正。</p>
<p>4.請求停止蒐集、處理或利用。</p>
<p>5.請求刪除。</p>
<p>消費者可來函洽詢本公司客服進行申請。</p>
</body>
</html>