<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta content="True" name="HandheldFriendly" />
    <title>利用規約</title>
    {literal}
    <style type="text/css">
        h1,h2{font-weight: 700;font-size: 1.2em}
        p{line-height: 150%;font-size: 1em;}
    </style>
    {/literal}
</head>
<body>
<h2>第1条（規約の適用）</h2>
<p> 1. この利用規約（以下「本規約」といいます）は、株式会社APPFAME（以下「当社」といいます）が提供するスマートフォン向けアプリ（以下「本アプリ」といいます）及びこれに付随して提供する専用のサービス全般（以下「本サービス」といいます）の利用に関し、利用者及び利用希望者と当社との間に適用されるものとします。</p>
<p> 2. 本サービスの利用希望者は、本サービスの利用を行うに際し、本規約に同意する必要があるものとします。また、本アプリの利用開始をもって、本規約に同意したものとみなします。</p>
<p> 3. 本サービスの利用希望者が20歳未満である場合、本サービスの利用に際し、予め親権者等の法定代理人の同意を得るものとします。</p>
<p> 4. 20歳未満の本サービスの利用希望者が本規約に同意した場合は、法定代理人の同意を得たものとみなします。</p>
<p> 5. 当社が本サービスの利用者に対して、別途以下の各号のものを定めた場合、これらも本規約の一部を構成するものとします。</p>
<p> ①プライバシーポリシー</p>
<p> ②名称の如何を問わず当社から本サービスの利用者に対し個別に通知する、又は本サービス上に掲載するお知らせならびに本サービス利用上の決まり</p>
<p> ③本サービスを構成する全ての個別のサービスの利用規約・ガイドライン等</p>
<p> 6. 前項各号のものを定めた場合、これらの規定に定めのない事項については、本規約の規定が適用されるものとし、これらの規定に本規約と異なる定めが規定された事項については、本規約に優先して適用されることが明示されている場合に限り、これらの規定が本規約に優先して適用されるものとします。</p>
<h2>第2条（定義）</h2>
<p> 本規約において、以下各号に掲げる用語は、当該各号に定めるとおりとします。</p>
<p> ①「会員」とは、本アプリを起動後、本規約に同意し、本サービスの利用を開始した者をいいます。</p>
<p> ② 「キャラクター名」とは、本サービスの利用希望者が、当社所定の方法により予め登録設定した本サービスを利用するための固有の記号又は名称をいいます。</p>
<p> ③ 「会員情報」とは、本サービスに関して会員が登録した情報をいいます。</p>
<p> ④「プレイヤーデータ」とは、本サービスに関して、会員がゲームサーバーに個別に保有するデータ、本サービスを通じて送受信したデータをいいます。</p>
<h2>第3条（会員資格の取得と会員情報)</h2>
<p> 1. 本サービスの利用申込みは、本アプリをインストールするスマートフォンに応じて、Apple社若しくはGoogle社又はその他携帯電話キャリア会社が別途定める各社の利用規約に同意した者に限り行うことができるものとします。</p>
<p> 2. その他、本サービス利用の承諾に支障があると当社が判断した場合、当社は当該申請を承諾しないことができるものとします。</p>
<p> 3. 会員資格を有する者は、本規約の全ての条項に同意し、会員情報に関して、以下の項目に同意しているものとみなします。</p>
<p> ①会員情報を登録する際は、最新、完全、正確な状態で提供すること。</p>
<p> ②登録した会員情報を、常に最新、完全、正確な状態に保つこと。</p>
<p> ③会員情報が前二号に反すると当社が判断した場合、当社は、当該会員の会員資格を事前通知又は承諾を要することなく抹消し得ること。</p>
<p> ④会員情報の不備により会員が不利益を被った場合、当社は、一切その責を負わないこと。</p>
<h2>第4条（キャラクター名の管理義務）</h2>
<p> 1. 会員は、キャラクター名の使用及び管理について一切の責任を負うものとします。</p>
<p> 2. 本サービスを利用する会員の権利は、会員本人のみに帰属します。会員は、キャラクター名を第三者に利用させたり、貸与、譲渡、名義変更、売買、質入等をしたりしてはならないものとします。</p>
<p> 3. キャラクター名の管理不十分、使用上の過誤、第三者の利用、意図しない情報送信を行うアプリの動作等による損害の責任は、会員が負うものとし、当社は一切責任を負いません。</p>
<p> 4. 会員は、キャラクター名が盗まれたり、第三者に利用されていたりする可能性があると判明した場合には、直ちに当社の定める所定の手続きにより当社へ届け出るとともに、当社からの指示がある場合には、その指示に従うものとします。</p>
<p> 5. 会員が、本サービスの利用に起因又は関連して、第三者又は当社に対して損害を与えた場合、会員は自己の責任と費用において損害を賠償するものとします。</p>
<h2>第5条（個人情報の利用目的と第三者への開示）</h2>
<p> 1. 当社が本サービスにおいて取り扱う個人情報については、当社が別途定める「プライバシーポリシー」に基づき、適切に取扱うものとします。</p>
<p> 2. 当社は、当社の管理する会員の個人情報を、各会員への適切なサービスの提供や、情報提供のために利用します。これには、お問い合わせにおけるご本人様の確認や、メールによる情報提供が含まれます。</p>
<p> 3. 当社は、以下各号に該当する場合を除き、会員情報等を第三者に開示しないものとします。</p>
<p> ①当社が、本サービスの利用動向を把握する目的で収集した情報を、統計データとして、パートナーとなりうる企業・広告主などの第三者に、個人を特定できない範囲で開示する場合。</p>
<p> ②会員が、個人情報の開示について別途明示的に同意している場合。</p>
<p> ③会員が希望する製品やサービスを提供するために、情報の開示や共有が必要と認められる場合。</p>
<p> ④本サービスの提供に際し、当社と提携又は協力関係にある第三者と当社間での会員情報の共有が必要となる場合。</p>
<p> ⑤会員情報を適切に管理するように契約等により義務づけた業務委託先が必要とする場合。</p>
<p> ⑥当社が、本サービスの運営委託、事業譲渡等の理由により、委託又は譲渡先の当該会社に対して個人情報を開示する場合。</p>
<p> ⑦裁判所や警察等の公的機関から、法令に基づく正式な照会を受けた場合。</p>
<p> ⑧人の生命、身体及び財産等に対する差し迫った危険があり、緊急の必要性がある場合。</p>
<p> ⑨会員の本規約違反により、当社の権利・財産を守るために当該会員の個人情報の開示が必要となる場合。</p>
<p> ⑩その他、本サービスを維持するために必要であると当社が任意に判断した場合。</p>
<h2>第6条（通知方法）</h2>
<p> 1. 当社から会員への通知は、本規約に別段に定めのある場合を除き、本サービス内の告知、電子メール、その他当社が適当と判断する方法により行われるものとします。</p>
<p> 2. 前項において定める会員への通知が、本サービス内の告知をもって行われる場合、当該通知が本サービス内に告知された時点をもって、会員への通知が完了したものとみなします。</p>
<p> 3. 第1項に定める通知が、電子メールで行われる場合、当該時点において登録されているメールアドレス宛に行うものとし、その発信をもって通知が完了したものとみなします。</p>
<p> 4. 会員は、会員情報として登録された電子メールアカウント及び本サービス内の告知を定期的に確認し、当社からの通知を確認するものとします。</p>
<h2>第7条（会員への連絡・情報提供）</h2>
<p> 1. 当社は、会員に対し、当社が関係するサービスの広告を目的とした通知を、Android若しくはiOSの機能を利用して配信する場合があるものとします。</p>
<p> 2. 当社は、予め同意している会員に対し、当社が関係するサービスの広告を目的とした電子メールを送信する場合があるものとします。当該電子メール配信は、会員が当社の定める所定の手続きを行うことにより停止することができるものとします。</p>
<h2>第8条（プレイヤーデータ）</h2>
<p> 1. 会員は、同一のゲームサーバーにおいて、プレイヤーデータをひとつのみ作成することができるものとします。</p>
<p> 2. 会員は、複数のキャラクター名を用いて同一ゲームサーバー内に自己が作成・管理するプレイヤーデータを複数作成してはならないものとします。また、当社は、同一人物が同一ゲームサーバー内に複数のプレイヤーデータを作成・管理していると判断した場合、当該プレイヤーデータ、及び当該プレイヤーデータに紐付く会員の会員資格を通知又は承諾を要することなく抹消できるものとします。</p>
<p> 3. 会員は、一つのキャラクター名について同時に複数の端末で本サービスを利用した場合に、データの不整合その他の不具合が生じる恐れがあることを確認し、そのような利用をした場合の損害については自己の責任により負担するものとします。</p>
<p> 4. 何らかの事由により会員が会員資格を喪失した場合、当社は、当該会員のプレイヤーデータを削除できるものとします。</p>
<p> 5. 当社は、理由の如何を問わず、プレイヤーデータの全て又は一部について、他のプレイヤーデータへの移し変えに応じないものとします。</p>
<p> 6. 会員は、プレイヤーデータの全て又は一部を営利目的で第三者に貸与、販売、転売し、現金並びに電子通貨を含むその他の財産的価値を得てはならないものとします。</p>
<h2>第9条（ゲーム代金の購入・利用等）</h2>
<p> 1. 会員は、本アプリをインストールするスマートフォンに応じて、Apple社若しくはGoogle社又はその他携帯電話キャリア会社が別途定める決済手段・方法により、ゲーム代金の購入手続きを行うことができるものとします。本サービスの利用申込みは、各社の利用規約に同意した者に限り行うことができるものとします。</p>
<p> 2. 会員は、ゲーム代金購入手続きにより発生する料金（以下「ゲーム代金購入料金」といいます）を支払うものとします。当社は、当該手続きの完了によって決済が正常に行われたことを確認の上、購入手続き時に利用していたゲームサーバーのプレイヤーデータに支払額に応じたゲーム代金を付与するものとします。</p>
<p> 3. 会員は、前二項以外に当社が定める一定の場合に、ゲーム代金を入手することができます（以下、前二項に定めるゲーム代金購入手続きとあわせて「ゲーム代金獲得」といいます）。会員が、無償で入手したゲーム代金と有償で入手したゲーム代金の双方を保有している場合は、有償で入手したゲーム代金から優先して消費されるものとします。</p>
<p> 4. 会員は、インターネットの特性上、ゲーム代金獲得から、プレイヤーデータにゲーム代金の付与が完了するまで、時間差が生じる可能性があることを予め了承するものとします。</p>
<p> 5. キャラクター名に対応する会員のプレイヤーデータ内において保有するゲーム代金は、次の各号に該当する場合にその一切を失効するものとします。</p>
<p> ①	本規約第12条で定める事由により本サービス全体又は一部を終了する場合。</p>
<p> ②	本規約第9条によりプレイヤーデータが削除された場合。</p>
<p> ③	何らかの事由により会員資格を喪失した場合。</p>
<p> 6. 会員は、ゲーム代金を第三者に譲渡、貸与、売買等一切の処分をしてはならないものとします。</p>
<p> 7. 当社は、理由の如何を問わず、ゲーム代金購入料金の払い戻し、及び第三者の発行する電子通貨等への変換に応じないものとします。</p>
<p> 8. 当社は、会員がゲーム代金を消費して得た本サービス内アイテム及び効果について、ゲーム代金の払い戻しに応じないものとします。</p>
<p> 9. 当社は、理由の如何を問わず、会員がゲームサーバーに個別に保有するゲーム代金について、他のプレイヤーデータへの移し変えに応じないものとします。</p>
<p> 10. 当社は、理由の如何を問わず、ゲーム代金を消費して得た本サービス内アイテム及び効果について、他のプレイヤーデータへの移し変えに応じないものとします。</p>
<p> 11. 20歳未満の会員がゲーム代金の購入手続きを行った場合、予め親権者等の法定代理人の同意を得ているものとみなします。</p>
<p> 12. 会員の行為が前項に違反していると当社が判断した場合、当該購入手続きに使用されたキャラクター名は、本規約に基づき、会員資格を喪失するものとします。</p>
<h2>第10条（禁止事項）</h2>
<p> 1. 会員は、本サービスの利用にあたり、以下の行為を行ってはならないものとします。</p>
<p> ①会員情報登録又は登録情報変更時において虚偽の内容を登録する行為。</p>
<p> ②会員情報を第三者に譲渡又は使用させる行為。</p>
<p> ③第三者に会員としての地位を譲渡する行為。</p>
<p> ④複数のキャラクター名を取得し、同一ゲームサーバー内に複数のプレイヤーデータを作成する行為。</p>
<p> ⑤ゲーム代金、又は本サービス内のアイテム等を現金又は商品券等金銭的価値を有する物、本サービス外のポイント・アイテム等と交換する行為、及び当該行為を勧誘・宣伝・告知・斡旋する行為。</p>
<p> ⑥他者を差別、誹謗中傷する行為。</p>
<p> ⑦他者の名誉、プライバシー又は信用を侵害する行為。</p>
<p> ⑧他者に経済的又は精神的な損害を与える行為。</p>
<p> ⑨当社、当社従業員、又は第三者になりすます行為、当社又は第三者との提携、協力関係の有無を偽る行為。</p>
<p> ⑩猥褻又は暴力的なメッセージ・画像・映像・音声等を送信、掲示、発信する行為。</p>
<p> ⑪公序良俗に反する行為。</p>
<p> ⑫脅迫的行為。</p>
<p> ⑬ストーカー行為や他者に不快感を与える行為。</p>
<p> ⑭当社又は第三者の知的財産権（特許権、意匠権、商標権、著作権等）を侵害する行為。</p>
<p> ⑮当社によって承認されていない勧誘、営業、広告、宣伝活動に該当する行為。</p>
<p> ⑯本サービスを当社の事前の書面による許可なく営利目的で利用する行為。</p>
<p> ⑰第三者の個人情報を収集、蓄積する行為。</p>
<p> ⑱スパムメール等を開示、掲載、送信、頒布する行為。</p>
<p> ⑲当社又は第三者のサーバーに不正にアクセスする行為。</p>
<p> ⑳プログラム等の改変、リバースエンジニアリング、解析、ユーティリティの作成、頒布、利用等の行為。</p>
<p> ㉑第三者のキャラクター名を不正に使用して本サービスを利用する行為。</p>
<p> ㉒当社又は第三者の各種設備を害するウィルスプログラム等を開示、掲載、送信、頒布、当該ウィルスプログラム等のダウンロードページのURLを掲載する行為、その他当社又は第三者の機器の正常な動作を害し、又は意図しない動作を行わせようとする行為。</p>
<p> ㉓本サービスの不具合を意図的に利用する行為。</p>
<p> ㉔本サービスにおいて使用されているソフトウェア及びデータの全部もしくは一部を解析、複製、複写、修正、追加、改変及び二次利用する行為。</p>
<p> ㉕当社の定める利用条件、操作手順等に従わない行為。</p>
<p> ㉖当社の行う本サービスの運営を妨害する行為。</p>
<p> ㉗その他、マナー違反など当社が不適当と認める行為。</p>
<p> ㉘その他、当社が本サイトで禁止を告知した行為。</p>
<p> 2. 本規約に違反した会員の行為によって当社及び第三者に損害が生じた場合、本サービスの会員資格の喪失如何に関わらず、当該会員は全ての法的責任を負うものとします。</p>
<h2>第11条（サービスの変更、制限、一時中止、終了）</h2>
<p> 1. 当社は、本サービスの運営・提供に関し、次のいずれかに該当すると判断した場合、会員への事前通知又は承諾を要することなく本サービス全体又は一部を変更、制限、一時中止、若しくは終了することができるものとします。</p>
<p> ①本サービスの運営・提供に必要な設備の故障等の事由により緊急に保守を行う場合。</p>
<p> ②戦争、暴動、騒乱、労働争議、地震、噴火、洪水、津波、火災、停電その他の非常事態、又は不可抗力の事由により、本サービスの運営・提供が困難と当社が任意に判断した場合。</p>
<p> ③運用上又は技術上の理由その他やむを得ない理由による場合。</p>
<p> 2. 前項で定められた事由の他、当社は、当社の任意の判断において、本サイト内の告知、電子メール、その他当社が適当と判断する方法により会員への事前通知を行った上で、会員の承諾を要することなく本サービス全体又は一部を終了することができるものとします。</p>
<p> 3. 当社が本サービスを変更、制限、一時中止、又は終了した場合であっても、当社は会員に対していかなる責任も負わないものとします。</p>
<h2>第12条（免責事項）</h2>
<p> 1. 当社は、本サービスを会員に提供するにあたり会員が被ったいかなる損害についても、法令に定める場合を除き、一切の責任を負わないものとします。</p>
<p> 2. 当社は、会員同士もしくは会員と第三者において生じた紛争や損害につき、一切の責任を負わないものとします。</p>
<p> 3. 当社は、会員の行為が本サービスの目的に照らし不適切と判断した場合、当該会員に対する通知又は承諾を要することなく、当該情報及び当該会員が本サービスにおいて保有するプレイヤーデータを削除できるものとし、当該削除につき何らの保証を行わないものとします。</p>
<h2>第13条（保証の否認）</h2>
<p> 1. 会員は、自己の責任において本サービスを利用することに合意するものとし、本サービスに起因して会員が被った損害について全責任を負うものとし、当社は一切の責任を負わないものとします。</p>
<p> 2. 当社は、以下の内容について一切保証を行うものではありません。</p>
<p> ①本サービスの内容が会員の要求及び利用目的に合致すること。</p>
<p> ②本サービスが中断されないこと。</p>
<p> ③会員が本サービスを通じて取得する情報が正確であり、信頼できるものであること。</p>
<p> ④本サービスにおいて瑕疵又は法的瑕疵がないこと。</p>
<p> ⑤本サービスを通じて送受信した情報が所定の機器に保存されること、送信相手に受信されること、或いは画面上に表示されること。</p>
<p> ⑥本アプリが全てのスマートフォン端末その他の機器において正常に動作すること。</p>
<h2>第14条（損害賠償）</h2>
<p> 1. 会員の行為により当社が損害を被った場合、及び会員の行為により他の会員又は第三者からクレームを受け、当社が損害を被った場合、当社は当該会員に対して損害賠償を請求できるものとし、当該会員は、直ちに請求金額を当社に支払うものとします。</p>
<p> 2. 会員と他の会員又は第三者との間の紛争により、当社が損害を被った場合、会員は、当社が被った損害を当社に賠償しなければならないものとします。</p>
<h2>第15条（権利の帰属）</h2>
<p> 1. 本サービスに関する著作権その他一切の権利は、当社又は権利を有する第三者に帰属します。</p>
<p> 2. 本サービスにおいて会員が公開した本サービスに関連するアイデア等を、当社は会員への通知又は承諾を要することなく、無償で利用できるものとします。</p>
<h2>第16条（規約の改定）</h2>
<p> 1. 当社は、随時本利用規約を改訂することができるものとします。</p>
<p> 2. 当社は、本利用規約を改訂しようとする場合、電子メール又は本サービスに関するウェブサイト等を使い随時、会員に告知するものとします。</p>
<p> 3. 前項に基づき、本利用規約の改訂を告知した日から当社が定める期間内に会員が退会しない場合、当該会員は本利用規約の改訂に同意したものとみなされ、当該会員と当社との間で改訂後の規約の効力が発生するものとします。</p>
<p> 4. 会員は、前項に定める効力発生の時点以降、当該内容の不知又は不承諾を申し立てることはできないものとします。</p>
<h2>第17条　(準拠法、合意管轄)</h2>
<p> 1. 本規約は日本国法に準拠し、日本国法に従って解釈されるものとします。</p>
<p> 2. 本サービスに関連するお客様と当社との間の問題は、両者誠意を持って協議し解決するものとします。協議によっても解決が得られない場合、東京地方裁判所を第一審の専属的合意管轄裁判所とします。</p>
<p>【2016年02月01日 制定】</p>
</body>
</html>